---
import Layout from "../layouts/PageLayout.astro";
import Section from "src/components/Section.astro";
---

<Layout title="For Future Furnishing" metadesc="Home Page">
  <Section>
    <div class="c">
      <h1>404 Page</h1>
    </div>
  </Section>
</Layout>
