---
import Layout from "../layouts/PageLayout.astro";
import Section from "src/components/Section.astro";
---

<Layout title="For Future Furnishing" metadesc="Home Page">
  <!-- <Section classList="h-screen flex border"> -->
  <div
    data-layer="top"
    class="c h-screen flex flex-col items-center justify-center"
  >
    <h1 class="font-gs text-[8vw] text-center">There's Nothing Here</h1>
    <ul class="flex justify-between uppercase text-xs">
      <li class="py-4 hover:opacity-50">
        <a href="/" class="p-4"> Home</a>
      </li>
      <!-- <li class="py-4 hover:opacity-50">
        <a href="/work" class="p-4"> Work</a>
      </li> -->
    </ul>
  </div>
  <!-- </Section> -->
</Layout>
