---
import Section from "../Section.astro";

const CONT = [
  {
    href: "email",
    title: "STUDIO",
  },
  {
    href: "press",
    title: "PRESS",
  },
];

// console.log(CONT);
---

<Section className="mb-[30vh]">
  <div class="c" data-layer="top">
    <h3
      data-a="word"
      class="uppercase md:text-[4vw] text-[6vw] leading-[.9em] md:max-w-[30ch]"
    >
      We’re an Italian, Spanish and swiss multidisciplinary design studio
      focused on interior design, installations, digital imagery and meta-space
      research.
    </h3>
    <ul class="text-xs mt-8 md:ml-4">
      {
        CONT.map((item) => {
          return (
            <li class=" flex my-2  uppercase">
              <p class="mr-8 font-bold w-[10vw]">{item.title}</p>
              <p data-a="alpha">
                {item.title} <span class="font-gs">(AT)</span> OFFICESTUD{" "}
                <span class="font-gs">(DOT)</span> IO
              </p>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>
