---
import Section from "../Section.astro";

const CONT = [
  {
    href: "email",
    title: "STUDIO",
  },
  {
    href: "press",
    title: "PRESS",
  },
];

console.log(CONT);
---

<Section className="mb-[30vh]">
  <div class="c">
    <h3 class="uppercase text-[4vw] leading-[.9em] max-w-[30ch]">
      We’re an Italian, Spanish and swiss multidisciplinary design studio
      focused on interior design, installations, digital imagery and meta-space
      research.
    </h3>
    <ul class="text-xs mt-8">
      {
        CONT.map((item) => {
          return (
            <li class="flex my-4 uppercase">
              <p class="mr-8 font-bold">EMAIL</p>
              <p>
                {item.title} <span class="font-gs">(AT)</span>{" "}
                OFFICEFORFUTUREFURNISHING <span class="font-gs">(DOT)</span> com
              </p>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>
