---
import Section from "../Section.astro";
---

<Section className="">
  <div class="c md:flex justify-between items-end uppercase">
    <p class="md:max-w-[60ch]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
    <p class="mt-4 text-right">
      <span class="font-gs">( C )</span> offfice 2022
    </p>
  </div>
</Section>
