---
import Section from "../Section.astro";
---

<Section>
  <div class="c md:flex justify-between items-end uppercase text-xs">
    <p data-a="line" class="md:max-w-[60ch] leading-[1.1em]">
      We do not collect data and do not use cookies. You can find more
      information on how we handle this as well as general website terms in our <a
        href="/policies"
        class="underline font-bold">policy page</a
      >. Website by <a
        target="_blank"
        href="https://federic.ooo"
        class="underline font-bold">FEDERIC.OOO</a
      >
    </p>
    <p data-a="alpha" class="mt-4 text-right">
      <span class="font-gs">( C )</span>
      <span> offfice 2022</span>
    </p>
  </div>
</Section>
