---
import Section from "../Section.astro";
---

<Section className="h-[85vh]">
  <div class="c text-[15vw] uppercase leading-[.9em]">
    <div class="flex">
      <p>Office For</p>
    </div>
    <div class="flex items-center justify-between">
      <p>Future</p>
      <p class="text-xs max-w-[40ch]">
        <i> FUTURE</i> LIVING <b> DESIGN</b> RESEARCH STUDIO INSTALLATIONS, COMMERCIAL
        AND PRIVATE SPACES.
      </p>
      <p class="text-xs max-w-[40ch]">IT / US / ARG</p>
    </div>
    <div class="flex">
      <p>Furnishing.</p>
    </div>
  </div>
</Section>
