---
import Section from "../Section.astro";
---

<Section className="h-[85vh] mt-[20vh] lg:mt-0">
  <div class="c md:text-[15vw] text-[13vw] uppercase leading-[.9em]">
    <div class="md:flex inline">
      <p>Office For</p>
    </div>
    <div class="inline md:flex items-center justify-between">
      <p>Future</p>
      <p class="text-xs max-w-[40ch] lg:block hidden">
        <i> FUTURE</i> LIVING <b> DESIGN</b> RESEARCH STUDIO INSTALLATIONS, COMMERCIAL
        AND PRIVATE SPACES.
      </p>
      <p class="text-xs max-w-[40ch] lg:block hidden">IT / US / AG</p>
    </div>
    <div class="md:flex">
      <p>Furnishing.</p>
    </div>
    <div class="lg:hidden flex justify-between items-end my-8">
      <p class="text-xs max-w-[30ch]">
        <i> FUTURE</i> LIVING <b> DESIGN</b> RESEARCH STUDIO INSTALLATIONS, COMMERCIAL
        AND PRIVATE SPACES.
      </p>
      <p class="text-xs max-w-[40ch]">IT / US / AG</p>
    </div>
  </div>
</Section>
