---
import Section from "../Section.astro";
---

<Section className="Form">
  <div
    class="c lg:flex content-center justify-center items-center min-h-screen my-[10vh] lg:my-0"
  >
    <div class="lg:w-1/4 w-1/2">
      <h1
        class="font-gs lg:text-[5vw] text-[10vw] text-right lg:text-left leading-[1em]"
      >
        <span data-a="char">GET IN</span>
        <br />
        <span data-a="char">TOUCH</span>
      </h1>
    </div>
    <form
      class="lg:w-3/4 w-full text-[.9em]"
      name="contact"
      method="POST"
      data-netlify="true"
      data-layer="top"
    >
      <!-- Form Intro Text -->
      <div class="py-16 flex items-start">
        <p data-a="word" class="w-full lg:w-1/3 px-4 text-right">
          <b> GENERAL ENQUIRIES</b>
          <br />CONTACT FORM
        </p>
      </div>
      <!-- Form Fields -->
      <div class="py-4 lg:flex items-start">
        <label data-a="word" for="name" class="w-1/3 px-2 lg:text-right"
          >NAME</label
        >
        <input
          data-a="alpha"
          id="name"
          name="name"
          placeholder="Your Name"
          class="w-1/2 px-2"
        />
      </div>
      <div class="py-4 lg:flex items-start">
        <label
          data-a="word"
          for="email"
          class="w-1/3 px-2 lg:text-right font-bold">EMAIL</label
        >
        <input
          data-a="alpha"
          id="email"
          name="email"
          placeholder="Your Email"
          class="w-1/2 px-2"
        />
      </div>

      <!-- Form TextArea -->
      <div class="py-4 lg:flex items-start">
        <label
          data-a="word"
          for="message"
          class="w-1/2 px-4 lg:text-right font-bold">YOUR <br />MESSAGE</label
        >
        <textarea
          id="message"
          name="message"
          placeholder="Write your message here"
          data-a="alpha"
          class="px-0 lg:h-[20vh] h-[10vh]"></textarea>
      </div>
      <!-- Form Intro Text -->
      <div class="lg:py-16 py-8 flex items-start" data-a="alpha">
        <button
          data-a-dom="underline"
          type="submit"
          class="w-1/3 px-4 py-4 lg:text-right text-left font-bold"
          >SEND EMAIL</button
        >
      </div>
    </form>
  </div>
</Section>
