/* ------------------------------  Variables */
:root {
  /* Colors */
  --color-black: #111111;
  --color-white: #fefefe;
  /* Spaces */
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  /* Animation */
  --time-0: 0.3s;
  --time-1: 1s;
  --time-2: 2s;
  --time-3: 3s;
  --eas-eo: cubic-bezier(0.25, 0.1, 0.25, 1);
  --eas-ei: cubic-bezier(0.75, 0.1, 0.75, 1);
  --eas-ic: cubic-bezier(0.55, 0, 1, 0.45);
}

html,
body,
p,
h1,
h2,
h3,
h4 {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

[data-selectable] {
  user-select: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

html,
body {
  overscroll-behavior: none;
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "ak";
  font-size: 14px;
}

body {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

body:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* ------------------------------  Webgl */
[data-gl="c"] {
  position: fixed;
  box-sizing: border-box;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  z-index: 10;
  pointer-events: none;
  /* background: blue; */
}

canvas {
  width: 100%;
  height: 100%;
  position: relative;
  /* z-index: 10; */
  /* border: 1px solid blu  e; */
}

main {
  border: 0px solid transparent;
}

/* ------------------------------  Layering */
[data-layer="top"] {
  position: relative;
  z-index: 20;
}

/* ------------------------------  Layout */

.Section {
  /* border: 1px solid blue; */
  /* min-height: 50vh; */
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.c {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

/* ------------------------------  ... */
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ------------------------------  Animations */

[data-a-dom="underline"] {
  opacity: 1;
  cursor: pointer;
  transition: opacity var(--time-0) var(--eas-eo) 0s;
}

[data-a-dom="underline"]:hover {
  opacity: 0.5;
  transition: opacity var(--time-0) var(--eas-eo) 0s;
}

/* -- Text */
[data-a] div {
  line-height: inherit;
  /* line-height: 1em; */
}

[data-a="char"] > div,
[data-a="word"] > div,
[data-a="line"] > div,
[data-a="trig"] > div {
  /* display: inline-block !important; */
  /* line-height: 0.9em; */
  overflow: hidden;
}

[data-a="char"] > div > div,
[data-a="word"] > div > div,
[data-a="line"] > div > div,
[data-a="trig"] > div > div {
  /* display: inline-block; */
  /* line-height: 0.9em; */
  will-change: transform;
}

/* -- List */
@media only screen and (max-width: 768px) {
  [data-dom="list"] li {
    position: relative;
    z-index: 20;
  }
}

[data-dom="list"] li {
  opacity: 0.1;
  transition: opacity var(--time-1) var(--eas-eo) 0s;
}

[data-dom="list"] li:hover {
  opacity: 0.4;
  transition: opacity var(--time-1) var(--eas-eo) 0s;
}

[data-dom="list"] .active,
[data-dom="list"] .active:hover {
  transition: opacity var(--time-1) var(--eas-eo) 0s;
  opacity: 1;
  z-index: 20;
  position: relative;
}

[data-a="trig"] {
  position: relative;
  pointer-events: none;
}

.active [data-a="trig"] {
  position: relative;
  pointer-events: all;
}

[data-a="trig"]:after {
  content: " ";
  background: white;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0.2em;
  left: 0;
  transform-origin: left center;

  transition: transform var(--time-1) var(--eas-eo) 0s;
  transform: scaleX(0);
}

.active [data-a="trig"]:after {
  transition: transform var(--time-1) var(--eas-eo) 0s;
  transform: scaleX(1);
}

.active [data-a="trig"]:hover:after {
  transition: transform var(--time-1) var(--eas-eo) 0s;
  transform: scaleX(0.5);
}

/* -- Svgs */
svg {
  min-width: 2vw;
  min-height: 2vh;
}

.loader-icon {
  max-height: 2em;
  fill: none;
  stroke: white;
}

.loader-icon path {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.active .loader-icon path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset var(--time-2) var(--eas-ic) 0s;
}

/* -- Preloader */

[data-loader="line"] {
  transform: scaleX(0);
  transition: transform var(--time-1) var(--eas-eo) 0s;
}

.active [data-loader="line"] {
  transform: scaleX(0.1);
  transition: transform var(--time-1) var(--eas-eo) 0s;
}

/* Policies Page */
.Policy p {
  max-width: 60ch;
  margin: 3em 0;
}

.Policy h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.Policy h2 {
  padding-top: 4em;
  text-transform: uppercase;
  font-size: 1.5em;
}

.Policy a {
  text-transform: uppercase;
  font-weight: bold;
}
.Policy a:hover {
  opacity: 0.5;
  text-transform: uppercase;
}
