/* ------------------------------  Variables */
:root {
  /* Colors */
  --color-black: #111111;
  --color-white: #fefefe;
  /* Spaces */
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  /* Animation */
  --time-0: 0.3s;
  --time-1: 1s;
  --eas-eo: cubic-bezier(0.25, 0.1, 0.25, 1);
  --eas-ei: cubic-bezier(0.75, 0.1, 0.75, 1);
}

body {
  background: var(--color-black);
  color: var(--color-white);
  font-family: "ak";
  font-size: 14px;
}

/* ------------------------------  Webgl */
[data-gl="c"] {
  position: fixed;
  box-sizing: border-box;

  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  z-index: 10;
  pointer-events: none;
  /* background: blue; */
}

canvas {
  width: 100%;
  height: 100%;
  position: relative;
  /* z-index: 10; */
  /* border: 1px solid blu  e; */
}

main {
  border: 0px solid transparent;
}

/* ------------------------------  Layering */
[data-layer="top"] {
  position: relative;
  z-index: 20;
}

/* ------------------------------  Layout */

.Section {
  /* border: 1px solid blue; */
  /* min-height: 50vh; */
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
}

.c {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

/* ------------------------------  ... */
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ------------------------------  Animations */

/* -- Hover */
[data-a-dom="underline"] {
  position: relative;
}

[data-a-dom="underline"]:after {
  content: " ";
  background: white;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 50%;
  left: 0;
  transform-origin: left center;

  transition: transform var(--time-0) var(--eas-eo) 0s;
  transform: scaleX(0);
}

[data-a-dom="underline"]:hover:after {
  transition: transform var(--time-0) var(--eas-eo) 0s;
  transform: scaleX(1);
}

/* -- Text */
[data-a="char"] > div,
[data-a="word"] > div,
[data-a="line"] > div,
[data-a="trig"] > div {
  /* display: inline-block !important; */
  line-height: 0.9em;
  overflow: hidden;
}

[data-a="char"] > div > div,
[data-a="word"] > div > div,
[data-a="line"] > div > div,
[data-a="trig"] > div > div {
  /* display: inline-block; */
  line-height: 0.9em;
  will-change: transform;
}

/* [data-a="word"] i {
  padding-right: 0.3em;
}

[data-a="word"] b {
  padding-right: 0.3em;
  padding-left: 0.3em;
} */

/* -- List */
[data-dom="list"] li {
  opacity: 0.1;
  transition: opacity var(--time-1) var(--eas-eo) 0s;
}

[data-dom="list"] .active {
  transition: opacity var(--time-1) var(--eas-eo) 0s;
  opacity: 1;
  z-index: 20;
  position: relative;
}

[data-a="trig"] {
  position: relative;
  pointer-events: none;
}

.active [data-a="trig"] {
  position: relative;
  pointer-events: all;
}

[data-a="trig"]:after {
  content: " ";
  background: white;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0.2em;
  left: 0;
  transform-origin: left center;

  transition: transform var(--time-1) var(--eas-eo) 0s;
  transform: scaleX(0);
}

.active [data-a="trig"]:after {
  transition: transform var(--time-1) var(--eas-eo) 0s;
  transform: scaleX(1);
}
