---
import { pagesToString } from "./content.js";
const arr = await pagesToString();

const toJson = JSON.stringify(arr);
// console.log(toJson);
---

<div data-data={toJson} data-gl="c"></div>
<script>
  import "../js/app.js";
</script>
