---
import Section from "./Section.astro";
---

<Section>
  <ul
    class="c md:flex content-between justify-between block py-8 text-[.9em] uppercase"
  >
    <li class=""><a href="/">Home</a></li>
  </ul>
</Section>
