---
const links = [
  {
    label: "CUSTOM WORK",
    href: "",
  },
  {
    label: "SHOP ARCHIVE",
    href: "",
  },
];
---

<nav class="fixed top-[var(--space-l)] w-screen text-xs z-50">
  <div class="c flex justify-between">
    <a href="/">offfice <span class="font-gs"> studio</span></a>

    <div class="font-bold">
      {
        links.map((link) => (
          <a
            data-a-dom="underline"
            class="block mb-[var(--space-s)]"
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
          >
            {link.label}
          </a>
        ))
      }
    </div>
  </div>
</nav>
