---
// import ChairSvg from "/svg/ic-chairsvg.svg";
// import LoungeSvg from "/svg/ic-loungesvg.svg";
// import ObjectSvg from "/svg/ic-objsvg.svg";
// import SpaceSvg from "/svg/ic-spacesvg.svg";
---

<figure
  class="preloader fixed w-screen h-screen flex items-center justify-center bg-black z-50"
  data-loader="wrapper"
>
  <div>
    <div></div>
    <div></div>
  </div>
</figure>
