---
import "../style/type.css";
import "../style/main.css";

const { title, metadesc } = Astro.props;

import Nav from "../components/Nav.astro";
import Canvas from "../components/Canvas.astro";
import Preloader from "../components/Preloader.astro";

import Meta from "src/components/Meta.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <meta name="generator" content={Astro.generator} /> -->
    <Meta title={title} description={metadesc} />
    <title>OFFFICE :: {title}</title>
  </head>

  <body>
    <Nav />
    <Preloader />

    <div data-taxi>
      <main data-taxi-view class="Main">
        <slot />
      </main>
    </div>

    <Canvas />
  </body>
</html>
