---
import "../style/type.css";
import "../style/main.css";

const { title } = Astro.props;

import Nav from "../components/Nav.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Nav />
    <div data-gl="c"></div>

    <div data-taxi>
      <main data-taxi-view class="Main">
        <slot />
      </main>
    </div>

    <!-- Webgl -->
    <!-- <canvas data-gl="c"></canvas> -->

    <script>
      import "../js/app.js";
    </script>
  </body>
</html>
